.products {
    width: 100%;
    padding: 0 5%;
    &__title {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        margin-top: 20px;
    }
    &__content {
        display: flex;
        &__skeleton {
            width: 25%;
            animation: blink 2s infinite ease-out;
            &__image {
                width: 100%;
                background-color: gray;
                aspect-ratio: 1/1;
            }
            &__name {
                font-size: 18px;
                font-weight: bold;
                margin-top: 5px;
                background-color: gray;
                height: 20px;
            }
            &__category {
                color: gray;
                margin-top: 5px;
                background-color: gray;
                height: 16px;
            }
            &__price {
                font-weight: bold;
                margin-top: 10px;
                background-color: gray;
                height: 16px;
            }
        }
        &__item {
            width: 25%;
            padding: 10px;
            &__name {
                font-size: 18px;
                font-weight: bold;
                margin-top: 5px;
            }
            &__category {
                color: gray;
            }
            &__price {
                font-weight: bold;
                margin-top: 10px;
            }
        }
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
